***Data Types and Structures Questions***

Q1. What are data structures, and why are they important ?


*   Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

 Importance:
 1. Choosing the right data structure significantly impacts the efficiency and performance of your program.
 2. Conserve memory usage
 3. Optimize searching and sorting operations
 4. Simplify data manipulation (adding, removing, modifying elements)

Q2.  Explain the difference between mutable and immutable data types with examples?


*   mutable data types can be changed after they are created, while immutable data types cannot be modified once they are initialized. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples

Q3. What are the main differences between lists and tuples in Python?


*   Lists: Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
*   Tuples: Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

Q4. Describe how dictionaries store data.


1.   Unordered collections: Elements are not stored in a specific order.
2.   Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.
3. Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

Q5. Why might you use a set instead of a list in Python?


*   A set in Python is preferred over a list in scenarios where maintaining uniqueness and performing set operations are crucial, or when the order of elements is not important. Sets inherently store only unique elements, automatically eliminating duplicates. This characteristic is beneficial when dealing with data where redundancy needs to be avoided.
*   Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets.

Q6. What is a string in Python, and how is it different from a list?


*   A string is a sequence of characters between single or double quotes.
*   A list is mutable, meaning you can modify its elements after it is created. On the other hand, a string is immutable, which means you cannot change its characters once it is created.

Q7. How do tuples ensure data integrity in Python?


1.   Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its contents cannot be changed, added, or removed.
2.   This characteristic ensures that the data stored within a tuple remains constant throughout its lifecycle, preventing accidental or unauthorized modification.

Q8. What is a hash table, and how does it relate to dictionaries in Python?


*   A hash table is a data structure that stores key-value pairs, using a hash function to compute an index for each key, which determines the position of the corresponding value in an array (the "hash table" itself). This allows for efficient retrieval, insertion, and deletion of data.
*   In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine where to store the value

Q9. Can lists contain different data types in Python?


1.   Lists can hold items of various data types (numbers, strings, even other lists!).

Q10. Explain why strings are immutable in Python.
1.
Immutability prevents accidental modification of string data, which can be crucial in multi-threaded environments or when working with shared data. It ensures that a string's value remains consistent throughout its lifetime.

Q11. What advantages do dictionaries offer over lists for certain tasks?


*   Dictionaries can be much more useful than lists. For example : suppose we wanted to store all our friend's cell phone numbers. We could create a list of pairs phone number name but once this list becomes long enough searching this list for a specific phone number will get time consuming.
*  Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

Q12.  Describe a scenario where using a tuple would be preferable over a list.


*   When to use tuples or lists depends on your needs. There may be some occasions when you don't want your data to be changed. If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists.

Q13.  How do sets handle duplicate values in Python?
*  In sets, Duplicate entries are not allowed.

Q14. How does the “in” keyword work differently for lists and dictionaries?
* the "in" operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

Q15. Can you modify the elements of a tuple? Explain why or why not.
* However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

Q16. What is a nested dictionary, and give an example of its use case?
* a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

In [3]:
#Use case
nested_dict = {1:{"name": "aman", "age": 22}, 2: {"name": "ayush" , "age": 21}}
print(nested_dict)

{1: {'name': 'aman', 'age': 22}, 2: {'name': 'ayush', 'age': 21}}

Q17. Describe the time complexity of accessing elements in a dictionary.
* The time complexity of accessing an element in a dictionary (also known as a hash table or associative array) is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step

Q18.  In what situations are lists preferred over dictionaries?
* Lists perform faster for ordered operations like sorting

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
* A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
* In terms of data retrieval, a dictionary excels at fast lookups by key, while a list is better suited for sequential access by index.
* Dictionaries use a hash-based approach, allowing for nearly instantaneous retrieval of a value when the key is known, whereas lists require traversing the list sequentially until the desired element is found.

***Practical Questions***

In [4]:
# Q1. Write a code to create a string with your name and print it

name = "aman"
print(name)

aman

In [5]:
# Q2.Write a code to find the length of the string "Hello World"

a= "Hello World"
len(a)

11

In [6]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming

b = "Python Programmimg"
b[:3]

'Pyt'

In [7]:
# Q4. Write a code to convert the string "hello" to uppercase

hi = "hello"
hi.upper()

'HELLO'

In [8]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

kid = "i like apple"
kid.replace("apple", "orange")

'i like orange'

In [9]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.

no = [1, 2, 3, 4, 5]
print(no)

[1, 2, 3, 4, 5]

In [11]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [12]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [16]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

alpha = ["a", "b", "c", "d", "e"]
alpha[1]

'b'

In [17]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [21]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

number = (100, 200 ,300)
print(number)

(100, 200, 300)

In [22]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

col = ("red", "green", "blue", "yellow")
col[-2]

'blue'

In [23]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

no = (10, 20, 5, 15)
min(no)

5

In [24]:
# Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ("dog", "cat", "rabbit")
animals.index("cat")

1

In [25]:
# Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
"kiwi" in fruits

False

In [26]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

alp = {"a", "b", "c"}
print(alp)

{'b', 'c', 'a'}

In [27]:
# Q17. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

nos = {1, 2, 3, 4, 5}
nos.clear()

In [28]:
# Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

num = {1, 2, 3, 4}
num.remove(4)

In [30]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

x = {1,2,3}
y = {3,4,5}
x | y

{1, 2, 3, 4, 5}

In [31]:
# Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

m = {1,2,3}
n = {2,3,4}
m & n

{2, 3}

In [34]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict_1 = {"name" : "aman", "age" : 22 , "city" : "delhi"}
print(dict_1)

{'name': 'aman', 'age': 22, 'city': 'delhi'}

In [37]:
# Q22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict_2 = {"name":"john" , "age":25}
dict_2["country"]= "USA"
print(dict_2)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [42]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict_3 = {"name" : "Alice" , "age" : 30}
dict_3["name"]

'Alice'

In [43]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict_4 = {"name" : "Bob" , "age" : 22 , "city" : "new york"}
del dict_4["age"]

In [45]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict_5 = {"name" : "ALice", "city" : "paris"}
"city" in dict_5

True

In [47]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

a1 = [1,2,3]
a2 = (1,2,3)
a3 = {"n1":1, "n2":2, "n3":3}
print(a1)
print(a2)
print(a3)

[1, 2, 3]
(1, 2, 3)
{'n1': 1, 'n2': 2, 'n3': 3}

In [52]:
# Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

number = [7 , 56, 90, 23, 88]
number.sort()
print(number)

[7, 23, 56, 88, 90]

In [55]:
# Q28. Write a code to create a list with strings and print the element at the third index.

list_1 = ["ajay", "mohan" , "priya" , "jiya"]
print(list_1[2])

priya

In [62]:
# Q29. Write a code to combine two dictionaries into one and print the result.

dict_6 = {"a":1, "b":2}
dict_7 = {"c":3, "d":4}
dict_8 = {}
dict_8.update(dict_6)
dict_8.update(dict_7)
print(dict_8)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [63]:
# Q30. Write a code to convert a list of strings into a set.

list_2 = ["a", "b" , "c" , "d"]
set(list_2)

{'a', 'b', 'c', 'd'}